
 body{padding: 110px 0 0 0;background: #f5f5f5;}
.navbar-default {
    background-color: #fff;
    border-color: #eee;
    padding:25px 10px;
}

label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 2px solid #bbb;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #f8f8f8;
        
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
    
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    
    /* Since we removed the default focus styles, we have to add our own */
    .custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #1aa5ff;
        -moz-box-shadow: 0 0 3px 1px #1aa5ff;
        box-shadow: 0 0 3px 1px #1aa5ff;
    }
    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #1aa5ff;
        color: white;
        pointer-events:none;
       
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }

.container{background: #fff;}
.title{font-size: 26px;
font-weight: bold;
line-height: 42px;
margin: 0px 0 0 20px;
color: #293c4d;
border-left: 1px solid #293c4d;
padding-left: 30px;}
.keys{font-size: 15px;
font-weight: bold;
line-height: 21px;
margin: 0px 0 0 20px;
color: #293c4d;}
.technology{
    text-decoration: none;
    display: block;
    width: 31.333%;
    padding:10px;
 margin:30px 1%;
    background: #fff;
    border-radius: 5px;
}
.technology:hover {text-decoration: none;box-shadow:  0 0 5px rgba(0, 0, 0, 0.3);}
.technology span{font-size: 20px; color: #000;}
.technology img{ width:100px ;height: 100px; vertical-align: middle; margin: 0 30px 0 0;}

.profileContainer{padding:20px;}
.profileContainer img{display: block;width: 100%;}
.loginName{font-size: 26px;
margin: 20px 0 0px 0;
line-height: 20px;text-transform: capitalize;
}
.filterContainer{border-bottom: 1px solid #ccc;}
.loginID{color:#797979;font-size: 14px; margin:5px 0 10px 0;}
.summary{font-size: 18px; margin:0px 0 20px 0;}
.blocktxt{font-size: 14px; margin:20px 0 20px 0;display: block;}
 .heading{font-size: 24px;
padding-bottom: 5px;
border-bottom: 2px solid #000;
margin: 20px 0;}
.fullname{color: #2274d4;
font-size: 18px;
margin: 0 0 10px 0; word-wrap: break-word;}
.description{color: #070707;
font-size: 14px;
margin: 0 0 10px 0;height: 70px;overflow: auto;
 word-wrap: break-word;}
.list{background: #fff; padding:20px;display: block;}
.list img{height: 20px;width:20px;}
.list > div:nth-child(1){box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);padding:10px; height: 100%;position: relative;}

.repositoryContainer .list{width: 33%; height: 250px;}
.status{position: absolute;
bottom: 10px;
right: 15px;font-size: 10px;}
.status div{margin-right: 5px;}a.list:hover {text-decoration: none;}
.status div:last-child{margin-right: 0px;margin-top:2px;margin-left:5px;  }
a.list:hover > div:nth-child(1){text-decoration: none;box-shadow:0 0 5px rgb(34, 116, 212, 0.9); }
.repositoryContainer{margin-bottom: 30px;}
.repositoryContainer.repo .list{width: 20%; height: 250px;}
.pagination{margin: 10px 20px;}
.filters{margin-top:20px;}
.tags{width: 300px;
float: right;
padding: 10px;
word-wrap: break-word;}
.tags a{display:inline-block;margin: 0 10px; font-size: 14px; padding:10px;background: #ccc;color: #000;margin: 10px;}
.tags a:hover,.tags a.active{color: #fff;background: #337ab7;text-decoration: none;}
